name: Seismic CI

on:
  push:
    branches: [seismic]
  pull_request:
    branches: [seismic]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always
  CARGO_NET_GIT_FETCH_WITH_CLI: true

jobs:
  rustfmt:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt
      - run: cargo fmt --all --check

  build:
    runs-on: large-github-runner
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: "build-cache"
      # Removing this because build --bin seismic-reth runs in integration-test
      # and this is very slow right now.
      # TODO: eventually uncomment it when we open source,
      # so we know other crates build correctly
      # - name: cargo build
      #   run: cargo build

  warnings:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: "warnings-cache"
      - name: cargo check warnings
        run: RUSTFLAGS="-D warnings" cargo check

  unit-test:
    runs-on: large-github-runner
    timeout-minutes: 30
    env:
      SEISMIC_CI: 1
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: taiki-e/install-action@nextest
      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: "integration-test-cache"
      - name: seismic-node test
        # see profile.default in .config/nextest.toml for filtered tests
        run: cargo nextest run --workspace -E '!kind(test)'

  integration-test:
    runs-on: large-github-runner
    timeout-minutes: 30
    env:
      SEISMIC_CI: 1
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: taiki-e/install-action@nextest
      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: "integration-test-cache"
      - name: seismic-node test
        # see profile.default in .config/nextest.toml for filtered tests
        run: cargo nextest run --workspace -E 'kind(test)'
  
  viem:
    runs-on: large-github-runner
    timeout-minutes: 30
    env:
      SRETH_ROOT: /home/runner/work/seismic-reth/seismic-reth
      RETH_DATA_DIR: /home/runner/work/.seismic-reth/data
      RETH_STATIC_FILES: /home/runner/work/.seismic-reth/static_files
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.2.5
      - name: Clear reth files
        run: rm -rf "$RETH_DATA_DIR" && rm -rf "$RETH_STATIC_FILES"
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: "viem-cache"
      - name: seismic-reth build
        run: cargo build --bin seismic-reth
      - name: Install dependencies
        run: bun install
      - name: Run viem tests vs. reth
        run: bun viem:test
      - name: Remove reth files
        run: rm -rf "$RETH_DATA_DIR" && rm -rf "$RETH_STATIC_FILES"
